In [1]:
import pandas as pd

In [2]:
index=["영희","철수","영철","순자"]
data = {
    "나이" : [20,21,20,None],
    "지역" : ["서울","대구",None,'서울'],
    "키" : [157,175,180,165]
}
info = pd.DataFrame(data, index = index)
info

      나이    지역    키
영희  20.0    서울  157
철수  21.0    대구  175
영철  20.0  None  180
순자   NaN    서울  165

In [3]:
info.groupby("나이").나이.count()

나이
20.0    2
21.0    1
Name: 나이, dtype: int64

In [4]:
info.groupby("나이").지역.count()

나이
20.0    1
21.0    1
Name: 지역, dtype: int64

In [5]:
info.groupby("나이").키.count()

나이
20.0    2
21.0    1
Name: 키, dtype: int64

In [6]:
info.groupby("나이").size()

나이
20.0    2
21.0    1
dtype: int64

In [7]:
info["나이"]

영희    20.0
철수    21.0
영철    20.0
순자     NaN
Name: 나이, dtype: float64

In [8]:
info["나이"].value_counts()

나이
20.0    2
21.0    1
Name: count, dtype: int64

In [9]:
info.groupby(["나이","지역"]).size()

나이    지역
20.0  서울    1
21.0  대구    1
dtype: int64

In [10]:
info.groupby(["나이","지역"]).키.count()

나이    지역
20.0  서울    1
21.0  대구    1
Name: 키, dtype: int64

In [11]:
info.groupby(["나이","지역"]).value_counts()

나이    지역  키
20.0  서울  157    1
21.0  대구  175    1
Name: count, dtype: int64

In [12]:
info.groupby("나이").키.min()

나이
20.0    157
21.0    175
Name: 키, dtype: int64

In [13]:
info.groupby("나이", group_keys=True).apply(lambda x: x)

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_9960\4110214980.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  info.groupby("나이", group_keys=True).apply(lambda x: x)

           나이    지역    키
나이
20.0 영희  20.0    서울  157
     영철  20.0  None  180
21.0 철수  21.0    대구  175

In [14]:
info.groupby("지역", group_keys=True).apply(lambda x: x)

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_9960\2268593868.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  info.groupby("지역", group_keys=True).apply(lambda x: x)

         나이  지역    키
지역
대구 철수  21.0  대구  175
서울 영희  20.0  서울  157
   순자   NaN  서울  165

In [15]:
info.groupby("지역").apply(lambda df:df["나이"].iloc[0])

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_9960\4111089223.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  info.groupby("지역").apply(lambda df:df["나이"].iloc[0])

지역
대구    21.0
서울    20.0
dtype: float64

In [16]:
info.groupby(["지역","나이"]).apply(lambda df:df.loc[df.키.idxmax()])

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_9960\1866847046.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  info.groupby(["지역","나이"]).apply(lambda df:df.loc[df.키.idxmax()])

           나이  지역    키
지역 나이
대구 21.0  21.0  대구  175
서울 20.0  20.0  서울  157

In [17]:
info.groupby(["나이","지역"]).apply(lambda df:df.loc[df.키.idxmin()])

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_9960\939495642.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  info.groupby(["나이","지역"]).apply(lambda df:df.loc[df.키.idxmin()])

           나이  지역    키
나이   지역
20.0 서울  20.0  서울  157
21.0 대구  21.0  대구  175

In [18]:
info.groupby('나이').키.agg([len,min,max,sum])

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_9960\1566419868.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  info.groupby('나이').키.agg([len,min,max,sum])
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_9960\1566419868.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  info.groupby('나이').키.agg([len,min,max,sum])
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_9960\1566419868.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  info.groupby('나이').키.agg([len,min,max,sum])

      len  min  max  sum
나이
20.0    2  157  180  337
21.0    1  175  175  175

In [19]:
a = info.groupby(['나이','지역']).키.agg([len])
print(a)

         len
나이   지역
20.0 서울    1
21.0 대구    1

In [20]:
a.reset_index()

     나이  지역  len
0  20.0  서울    1
1  21.0  대구    1

In [21]:
a.sort_values(by='len')

         len
나이   지역
20.0 서울    1
21.0 대구    1

In [22]:
a.sort_index()

         len
나이   지역
20.0 서울    1
21.0 대구    1

In [23]:
a.sort_values(by=['나이','len'], ascending=[False, True])

         len
나이   지역
21.0 대구    1
20.0 서울    1

In [24]:
a = info.groupby(['지역']).키.agg([len]).sort_index(ascending=False)
print(a)

    len
지역
서울    2
대구    1

In [25]:
index = ["영희", "철수", "영철", "순자", "민수"]
data = {
    "나이": [20, 20, 20, 20, 20],
    "지역": ["서울", "대구", "서울", "서울", "서울"],
    "키": [157, 175, 180, 157, 165]  # 중복된 키 값 157 추가
}
info = pd.DataFrame(data, index=index)

# 결과 확인
size_result = info.groupby(["나이", "지역"]).size()
value_counts_result = info.groupby(["나이", "지역"]).value_counts()

print("Size Result:")
print(size_result)

print("\nValue Counts Result:")
print(value_counts_result)

Size Result:
나이  지역
20  대구    1
    서울    4
dtype: int64

Value Counts Result:
나이  지역  키
20  대구  175    1
    서울  157    2
        165    1
        180    1
Name: count, dtype: int64